nav {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    color: yellow;
    text-decoration: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

    font-size: 20px;
  }
}
